Target word: {{ target }}
Part of speech: {{ pos }}
Sense: {{ definition }}

Specs:
{% for spec in specs %}
- spec_id: {{ spec.spec_id }}
  learner: {{ spec.traits }}
  meaning_req: {{ spec.meaning_req }}
  error_spec: {{ spec.error_spec }}
  error_bias: {{ spec.error_bias }}
{% endfor %}

Write one sentence per spec, in the order listed.
